bazel/bazel-*
msbuild/Debug/*
msbuild/CppProperties.json
msbuild/.vs/*
*.obj
*.o
*.log
*.tlog
*.lastbuildstate
*.recipe
*.json
*.d
*.pdb
*.idb
*.ilk
*.db
*.suo
*.wsuo
*.config
*.vsidx
*output.*
*traces.*
meson/build/meson-src/*
*.vcxproj*
